.container {
    margin: 20px 0;
}

.card {
    margin: 10px !important;
}

.infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.active {
    border-bottom: 10px solid rgba(255, 255, 0, 0.5);
}

.recoveryPercentage {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(3, 252, 240, 0.5);
}

.deathsPercentage {
    border-bottom: 10px solid rgba(161, 3, 252, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

@media (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}